<h1>Instructions for deleting Application</h1>
<ul>
  <div>Download below file to follow the instructions</div>
  <a [href]="sourcePath" [download]="fileName" [attr.disabled]="dwld.busy" #dwld="wmDownload">
    Download Instructions
  </a>
</ul>
<div>List of Running Projects</div>
<div class="container">
  <table class="table table-bordered mt-3">
    <thead class="thead-light">
      <tr>
        <th>Sr.No</th>
        <th>
          Application Name
          <button class="btn btn-default" (click)="changeOrder()" data-e2e="button-sort">
            <span class="icon" *ngIf="order === 'NONE'">
              <span class="icon">
                <i class="fas fa-sort sort-button"></i>
              </span>
            </span>
            <span class="icon" *ngIf="order === 'DESC'">
              <span class="icon">
                <i class="fas fa-sort-up sort-button"></i>
              </span>
            </span>
            <span class="icon" *ngIf="order === 'ASC'">
              <span class="icon">
                <span>
                  <i class="fas fa-sort-down sort-button"></i>
                </span>
              </span>
            </span>
          </button>
          <!-- <button (click)="changeOrder()">
            <i
              [ngClass]="
                order === 'none'
                  ? 'fas fa-sort sort-button'
                  : 'fas fa-sort sort-down'
              "
            ></i>
          </button> -->
        </th>
        <th>Select Version</th>
        <th>Delete Application</th>
        <th>Modify Application</th>
        <th>Release Application</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of row; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ item.Name }}</td>
          <td>
            <select (change)="getVersion(item.id, $event.target.value)">
              <option value="none-{{item.id}}">--SelectVersion--</option>
              <option [value]="version" *ngFor="let version of version; let i = index">
                {{ version }}
              </option>
            </select>
          </td>
          <td>
            <button (click)="deleteRow(i)" class="btn btn-success" [disabled]="!selectedProjectArray.includes(item.id)">
              Remove Application
            </button>
          </td>
          <td>
            <button (click)="editRow(item.id)" class="btn btn-success" [disabled]="!selectedProjectArray.includes(item.id)">
              Edit Application
            </button>
          </td>
          <td>
            <button (click)="releaseRow()" class="btn btn-success" [disabled]="!selectedProjectArray.includes(item.id)">
              Release Application
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>