<html>

<head>
  <style>
    h1 {
      font-size: 30px;
      line-height: 46px;
      color: #1e2326;
      text-align: center;
    }

    ul {
      text-align: center;
    }

    a {
      text-align: center;
    }

    div {

      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Instructions for deleting a project
  </h1>
  <ul>
    <div>Download below file to follow the instructions</div>
    <a [href]="sourcePath" [download]="fileName" [attr.disabled]="dwld.busy" #dwld="wmDownload">
      Download Instructions
    </a>
  </ul>
</body>
<div>List of Running Projects</div>
<div class="container">
  <table class="table table-bordered mt-3">
    <thead class="thead-light">
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Delete Project</th>
        <th>Modify Project</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let item of row; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Name }}</td>
        <td>
          <button (click)="deleteRow(i)" class="btn btn-success">
            Remove Project
          </button>
        </td>
        <td>
          <button (click)="editRow()" class="btn btn-success">
            Edit Project
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</html>


<!--h1 class="page_heading">Instructions for Deleting Project</h1>
<ul>
  <li>Instructions for deleting project</li>
  <li>List of running projects</li>
</ul>
<div class="container">
  <table class="table table-bordered mt-3">
    <thead class="thead-light">
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Delete Project</th>
        <th>Modify Project</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of row; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Name }}</td>
        <td>
          <button (click)="deleteRow(i)" class="btn btn-success">
            Remove Project
          </button>
        </td>
        <td>
            <button (click)="editRow()" class="btn btn-success">
              Edit Project
            </button>
          </td>
      </tr>
    </tbody>
  </table>
</div-->