<html>
  <head>
    <style>
      h1 {
    font-size: 30px;
    line-height: 46px;
    color: #1e2326;
    text-align: center;
}
      ul {
        text-align: center;
      }
      a {
        text-align: center;
      }
      div {
        
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Instructions for creating a application
    </h1>
    <ul>
      <div>Download below file to follow the instructions</div>
      <a
        [href]="sourcePath"
        [download]="fileName"
        [attr.disabled]="dwld.busy"
        #dwld="wmDownload"
      >
        Download Instructions
      </a>
      <div>Click below to create new application</div>
      <img src="https://wiki.ith.intel.com/display/ATTDAuto/Vision+Metrology?preview=/1216977972/1216995181/image2017-10-18%2016%3A1%3A19.png">
      <a class="nav-item nav-link" routerLink="/create">Create New Application</a>
    </ul>
  </body>
</html>
