<div class="col-md-6 offset-md-3 mt-5 card-width">
  <div class="card">
    <h4 class="card-header">Edit Project Details</h4>
    <div class="card-body">
      <form [formGroup]="editProject" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Application Name</label>
          <input type="text" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
          <label>function Name</label>
          <input type="text" formControlName="funcName" class="form-control" />
        </div>
        <div class="form-group">
          <label>function Id</label>
          <input type="text" formControlName="funcId" class="form-control" />
        </div>
        <div class="form-group">
          <label>Namespace</label>
          <input type="text" formControlName="namespace" class="form-control" />
        </div>
        <div class="form-group">
          <label>Containers</label>
          <select
            class="form-control"
            (change)="changeVal($event)"
            formControlName="container"
            [(ngModel)]="container.value"
          >
            <option [ngValue]="undefined" disabled selected>
              Choose from List of container images
            </option>
            <option *ngFor="let value of Value" [ngValue]="value">
              {{ value }}
            </option>
          </select>
          <br>
          <input
            *ngIf="selectedcontainerValue"
            [ngModel]="selectedcontainerValue"
            type="text"
            formControlName="image"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Resources</label>

          <select
            [(ngModel)]="resourceList"
            class="form-control"
            (change)="changeRequest($event)"
            formControlName="resources"
          >
            <option [value]="undefined" disabled selected>
              Choose from list of request
            </option>
            <option *ngFor="let i of resourceVal" [ngValue]="i">
              {{ i }}
            </option>
          </select>

          <ng-container
            formArrayName="requests"
            class="field"
            *ngFor="let request of requests.controls; let i = index"
          >
            <br />
            <div>
              <label for="">{{ labelResource[i] }}</label>
            </div>
            <input
              class="custom-input"
              type="text"
              [formControlName]="i"
              [value]="request"
            />&nbsp;&nbsp;
            <i
              class="fas fa-times"
              style="cursor: pointer"
              (click)="OnDelete(i)"
            ></i>
          </ng-container>
        </div>
        <div class="form-group">
          <label>Version</label>
          <input type="text" formControlName="version" class="form-control" />
        </div>
        <div class="form-group">
          <label>max-instances</label>
          <input
            type="text"
            formControlName="mxinstances"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>min-instances</label>
          <input
            type="text"
            formControlName="mninstances"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label>Volume</label>

          <select
            class="form-control"
            (change)="changeVolume($event)"
            formControlName="volume"
          >
            <option [value]="undefined" disabled selected>
              List of network storage
            </option>
            <option *ngFor="let i of networkListVal" [ngValue]="i">
              {{ i }}
            </option>
          </select>
          <br>
          <input
            *ngIf="selectedvolumeValue"
            value="{{ networkList }}"
            type="text"
            class="form-control"
            formControlName="volume"
            [ngModel]="selectedvolumeValue"
          />
        </div>
        <div class="form-group">
          <label>target-client</label>
          <input
            type="text"
            formControlName="targetclient"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>blocking-operation</label>
          <select
            class="custom-select"
            (change)="changeOperation($event)"
            formControlName="blckop"
          >
            <option value="">choose from list</option>
            <option *ngFor="let i of oprList" [ngValue]="i">{{ i }}</option>
          </select>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
