<!--div class="card mt-4">
    <h4 class="card-header">Instructions!.</h4>
    <div class="card-body">
        <h6 >Create Project</h6>
        <a routerLink="/Create Project" routerLinkActive="active" routerLinkActiveOptions="{exact:true}">Create Project</a> &nbsp;&nbsp;

        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
        <h6>Deploy Project</h6>
    </div>
</div-->


<!-- add buttons/links to navigate pages or routings -->

