<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">New Project</h4>
    <div class="card-body">
      <form [formGroup]="createProject" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Application Name</label>
          <input type="text" formControlName="name" class="form-control" placeholder="Unique project name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Application Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="nspace">Namespace</label>
          <input type="text" formControlName="nspace" class="form-control" placeholder="Unique Namesapce name"
            [ngClass]="{ 'is-invalid': submitted && f.nspace.errors }" />
          <div *ngIf="submitted && f.nspace.errors" class="invalid-feedback">
            <div *ngIf="f.nspace.errors.required">Namespace is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Project Description</label>
          <input type="text" formControlName="description" class="form-control" placeholder="Project Description"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Project Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="projectType">Project Type</label>
          <select class="custom-select" (change)="changeType($event)" formControlName="projectType"
            [ngClass]="{ 'is-invalid': submitted && f.projectType.errors }">
            <option value="">Select your project type</option>
            <option *ngFor="let type of Type" [ngValue]="type">
              {{ type }}
            </option>
          </select>
          <div *ngIf="submitted && f.projectType.errors" class="invalid-feedback">
            <div *ngIf="f.projectType.errors.required">Project type is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="projectExt">Project Extension</label>
          <select class="custom-select" (change)="changeExtn($event)" formControlName="projectExt"
            [ngClass]="{ 'is-invalid': submitted && f.projectExt.errors }">
            <option value="">Select your extension type</option>
            <option *ngFor="let extn of ideExtn" [ngValue]="extn">
              {{ extn }}
            </option>
          </select>
          <div *ngIf="submitted && f.projectExt.errors" class="invalid-feedback">
            <div *ngIf="f.projectExt.errors.required">Project Extenion is required</div>
          </div>
        </div>
        <button  type ="submit" class="btn btn-primary">
          Create
        </button>
      </form>
    </div>
  </div>
</div>